.Form{ 
    
    position: absolute;
    right: 20%;
    top:50%;
    margin-top: -50px;
    margin-left: -50px;
    background:turquoise;
    border-radius: 3px;
    border:2px solid blue;
    display:none;
    
}

button{
    margin:10px;
    padding: 10px;
}

button{
    border:none;
    background:yellow;
}

button:hover{
    border:none;
    background:yellowgreen;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea{
    color:black;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea{
    outline:none;
    border-bottom:solid black 1px;
    background:transparent;
    border-left:none;
    border-right:none;
    border-top:none;
    margin-left:10px;
    width:500px;
}
