.Form{ 
    position: absolute;
    top: 50%;
    left: 40%;
    margin-top: -50px;
    margin-left: -50px;
    background:turquoise;
    border-radius: 3px;
    border:2px solid blue;
    display: inline-block;
}

Button{
    margin:10px;
    padding: 10px;
}

Button{
    border:none;
    background:yellow;
}

Button:hover{
    border:none;
    background:yellowgreen;
}

input{
    outline:none;
    border-bottom:solid black 1px;
    background:transparent;
    border-left:none;
    border-right:none;
    border-top:none;
    margin:10px;
    padding:5px;
}